<html xmlns:th"http://www.thymreleaf.org">
	
	<body>
		
		<p> All products: </p>
		<table>
			
			<tr>
				<th border ="1"> ID </th>
				<th border = "1"> Title </th>
				<th border = "1"> Description </th>
				<th> Price </th>
				<th> Quantity </th>
				
				
			</tr>
			
			<tr th:each="temp : ${mypackage} "> 
				
				<td th:text="${temp.getId()}"> </td> 
				<td th:text="${temp.getTitle()}"> </td> 
				<td th:text="${temp.getDescription()}"> </td> 
				<td th:text="${temp.getPrice()}+ ' eur' "> </p> 
				<td th:text="${temp.getQuantity()}"> </td> 
				
			</tr>
			
		</table>
		
	</body>
	
</html>